<!--
<h1>Enter Details of new User to create</h1>
<form action="/users" method="post" accept-charset="utf-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="username">username:</label>
<input type="text" id="username" name="user[username]"><br><br>
<label for="email">email:</label>
<input type="text" id="email" name="user[email]"><br><br>
<label for="password">password:</label>
<input type="password" id="password" name="user[password]"><br><br>
<input type="submit" value="Create">
</form>     
-->

 <h1>enter details to Create New user </h1> 
<%= form_tag(users_path, method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <input id="username" name="username" type="text" /><br><br>
    <%= label_tag(:email, "email:") %>
    <input id="email" name="email" type="text" /><br><br>
    <%= label_tag(:password, "password:") %>
    <input id="password" name="password" type="password" /><br><br>
    <%= submit_tag("Create") %>


  <% end %>